__pycache__/API.cpython-313.pyc
__pycache__/ConectionPoolConfig.cpython-313.pyc
__pycache__/datamodels.cpython-313.pyc
__pycache__/Logic.cpython-313.pyc
__pycache__/Script.cpython-313.pyc
.VSCodeCounter/
statics/pledge/
statics/academic/
statics/non_objection/
statics/rules/
