__pycache__/API.cpython-313.pyc
__pycache__/ConectionPoolConfig.cpython-313.pyc
__pycache__/datamodels.cpython-313.pyc
__pycache__/Logic.cpython-313.pyc
__pycache__/Script.cpython-313.pyc
.VSCodeCounter/2026-03-11_05-01-29/details.md
.VSCodeCounter/2026-03-11_05-01-29/diff-details.md
.VSCodeCounter/2026-03-11_05-01-29/diff.csv
.VSCodeCounter/2026-03-11_05-01-29/diff.md
.VSCodeCounter/2026-03-11_05-01-29/diff.txt
.VSCodeCounter/2026-03-11_05-01-29/results.csv
.VSCodeCounter/2026-03-11_05-01-29/results.json
.VSCodeCounter/2026-03-11_05-01-29/results.txt
.VSCodeCounter/2026-03-11_05-01-29/results.md
