<!DOCTYPE html>
<html lang="AR">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/icon.ico" type="image/x-icon">
    <title>الطلبة المرقنين</title>
    <link rel="stylesheet" href="/static/CSS/Options.css">
    <script src="/static/JS/Admin/EduYearOptions.js" defer></script>
</head>

<body>
    <div class="content">
        <div class="split-container">
            <div class="side-panel">
                <div class="input-bar">

                    <div class="input-group">
                        <label>ادخل السنة النصف الاول</label>
                        <input type="number" id="yearSelector" value="0">
                    </div>

                    <button class="addBtn" id="addYearBtn">اضافة السنة الدراسية</button>

                </div>
                <div class="Container" id="YearsContainer">
                </div>
            </div>
        </div>

        <div id="passwordModal" class="modal-overlay" style="display: none;">
            <div class="modal-card">
                <h3>تئكيد الحذف</h3>
                <div class="input-group">
                    <label>الرمز السري</label>
                    <input type="password" id="deleteConfirmPass" placeholder="••••••••">
                </div>
                <div class="input-group" style="margin-top: 10px;">
                    <label>تئكيد الرمز</label>
                    <input type="password" id="deleteConfirmCheck" placeholder="••••••••">
                </div>
                <div class="modal-actions">
                    <button class="btn-modal-cancel" onclick="closeModal()">الغاء</button>
                    <button id="confirmDeleteBtn" class="btn-modal-confirm">حذف</button>
                </div>
            </div>
        </div>
    </div>

    <div class="sidebar">
        <div class="NavName">
            <h1>{{ role }}</h1>
        </div>
        <ul class="NavOps">
            <li><a href="/Admin/Main">الرئيسية</a></li>
            <li><a href="/Admin/Requests">الطلبات</a></li>
            <li><a href="/Admin/Accounts">الحسابات</a></li>
            <div class="OptionsContainer">
                <button class="OptionsToggle" onclick="toggleOptions()">▼ الاعدادات</button>
                <div id="OptionsList" class="SubMenu">
                    <a href="/Admin/CollegesOptions">الكلية-القسم</a>
                    <a href="/Admin/StudyOptions">المرحلة الدراسية</a>
                    <a href="/Admin/JobOptions">الحالة الوظيفية</a>
                    <a href="/Admin/StatusOptions">موقف الطلب</a>
                    <a href="/Admin/EduYearOptions">سنة دراسية</a>
                    <a href="/Admin/ReqYearOptions">سنة الطلب</a>
                </div>
            </div>
            <li><a href="/logout">تسجيل الخروج</a></li>
        </ul>
    </div>
</body>

</html>