<!DOCTYPE html>
<html lang="Ar">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
    <link rel="stylesheet" href="/static/CSS/Admin/Main.css">
    <script src="/static/JS/Admin/Main.js" defer></script>
</head>

<body>

    <div class="content">
        <div class="logo"><img src="/static/logo.png" alt="Logo"></div>
        <div class="Stats">
            <div class="stat-card">
                <p class="label">مقبول</p>
                <p class="count" id="count-accepted">0</p>
            </div>
            <div class="stat-card">
                <p class="label">مرفوض</p>
                <p class="count" id="count-denied">0</p>
            </div>
            <div class="stat-card">
                <p class="label">قيد الانتظار</p>
                <p class="count" id="count-pending">0</p>
            </div>
        </div>
    </div>
    <div class="sidebar">
        <div class="NavName">
            <h1>مشرف</h1>
        </div>
        <ul class="NavOps">
            <li><a href="/Admin/Main">الرئيسية</a></li>
            <li><a href="/Admin/Requests">الطلبات</a></li>
            <li><a href="/Admin/Accounts">الحسابات</a></li>
        </ul>
        <div class="OptionsContainer">
            <button class="OptionsToggle" onclick="toggleOptions()">▼ الاعدادات</button>
            <div id="OptionsList" class="SubMenu">
                <a href="/Admin/CollegesOptions">الكلية-القسم</a>
                <a href="/Admin/CollegesOptions">سنة دراسية</a>
                <a href="/Admin/CollegesOptions">سنة الطلب</a>
                <a href="/Admin/CollegesOptions">نوع الدراسة</a>
                <a href="/Admin/CollegesOptions">الحالة الوظيفية</a>
                <a href="/Admin/CollegesOptions">حالة الطلب</a>
            </div>
        </div>
    </div>
</body>

</html>