<!DOCTYPE html>
<html lang="AR">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
    <link rel="stylesheet" href="/static/CSS/Admin/Requests.css">
    <script src="/static/JS/Admin/Requests.js" defer></script>
</head>

<body>

    <div class="content">
        <div class="dashboard-container">
            <div class="filter-bar">
                <div class="input-group">
                    <label>YEAR FILTER</label>
                    <select id="yearInput">
                        <option value="">Any</option>
                    </select>
                </div>
                <div class="input-group">
                    <label>COLLEGE FILTER</label>
                    <select id="collegeInput">
                        <option value="">Any</option>
                    </select>

                </div>
                <span class="emptybox"></span>
                <button class="status-btn active" data-status="All">All</button>
                <button class="status-btn" data-status="Pending">Pending</button>
                <button class="status-btn" data-status="Accepted">Accepted</button>
                <button class="status-btn" data-status="Denied">Denied</button>
                <button class="download-btn"
                    onclick="window.location.href='/download_excel?year='+ document.getElementById('yearInput').value">Excel</button>

            </div>

            <div id="ticketContainer" class="ticket-grid"></div>
        </div>

    </div>

    <div class="sidebar">
        <div class="NavName">
            <h1>مشرف</h1>
        </div>
        <ul class="NavOps">
            <li><a href="/Admin/Main">الرئيسية</a></li>
            <li><a href="/Admin/Requests">الطلبات</a></li>
            <li><a href="/Admin/Accounts">الحسابات</a></li>
        </ul>
        <div class="OptionsContainer">
            <button class="OptionsToggle" onclick="toggleOptions()">▼ الاعدادات</button>
            <div id="OptionsList" class="SubMenu">
                <a href="/Admin/CollegesOptions">الكلية-القسم</a>
                <a href="/Admin/CollegesOptions">سنة دراسية</a>
                <a href="/Admin/CollegesOptions">سنة الطلب</a>
                <a href="/Admin/CollegesOptions">نوع الدراسة</a>
                <a href="/Admin/CollegesOptions">الحالة الوظيفية</a>
                <a href="/Admin/CollegesOptions">حالة الطلب</a>
            </div>
        </div>
    </div>
</body>

</html>