<!DOCTYPE html>
<html lang="AR">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/icon.ico" type="image/x-icon">
    <title>الطلبة المرقنين</title>
    <link rel="stylesheet" href="/static/CSS/Requests.css">
    <script src="/static/JS/Admin/Requests.js" defer></script>
</head>

<body>

    <div class="content">
        <div class="dashboard-container">
            <div class="filter-bar">
                <div class="input-group">
                    <label>العام الدراسي</label>
                    <select id="yearInput">
                        <option value="">الحالي</option>
                    </select>
                </div>
                <div class="input-group">
                    <label>الكلية</label>
                    <select id="collegeInput">
                        <option value="">الكل</option>
                    </select>

                </div>

                <span class="emptybox"></span>
                <button class="status-btn active" data-status="All">الكل</button>
                <button class="status-btn" data-status="Pending">قيد الانتظار</button>
                <button class="status-btn" data-status="Accepted">مقبول</button>
                <button class="status-btn" data-status="Denied">مرفوض</button>
                <button class="download-btn" onclick=downloadExcel()>
                    Excel
                </button>

            </div>

            <div id="ticketContainer" class="ticket-grid"></div>
        </div>

    </div>

    <div class="sidebar">
        <div class="NavName">
            <h1>{{ role }}</h1>
        </div>
        <ul class="NavOps">
            <li><a href="/Admin/Main">الرئيسية</a></li>
            <li><a href="/Admin/Requests">الطلبات</a></li>
            {% if not sub_admin %}
            <li><a href="/Admin/Accounts">الحسابات</a></li>
            {% endif %}
        </ul>
        {% if not sub_admin %}
        <div class="OptionsContainer">
            <button class="OptionsToggle" onclick="toggleOptions()">▼ الاعدادات</button>
            <div id="OptionsList" class="SubMenu">
                <a href="/Admin/CollegesOptions">الكلية-القسم</a>
                <a href="/Admin/StudyOptions">المرحلة الدراسية</a>
                <a href="/Admin/JobOptions">الحالة الوظيفية</a>
                <a href="/Admin/StatusOptions">حالة الطلب</a>
                <a href="/Admin/EduYearOptions">سنة دراسية</a>
                <a href="/Admin/ReqYearOptions">سنة الطلب</a>
            </div>
        </div>
        {% endif %}
    </div>
</body>

</html>