<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
    <link rel="stylesheet" href="/static/AccountsAdmin.css">
    <script src="/static/AccountsAdmin.js" defer></script>

</head>

<body>
    <div class="content">
        <div class="filter-bar">
            <div class="input-group">
                <label>Username</label>
                <input type="text" id="usernameInput" placeholder="Enter username">
            </div>
            <div class="input-group">
                <label>College</label>
                <select id="collegeInput">
                </select>
            </div>
            <div class="input-group">
                <label>Password</label>
                <input type="password" id="passwordInput" placeholder="••••••••">
            </div>
            <div class="input-group">
                <label>Confirm</label>
                <input type="password" id="confirmPasswordInput" placeholder="••••••••">
            </div>
            <button id="addAccountBtn">Add Account</button>
            <button id="EnableAllBtn">Enable All</button>
            <button id="DisableAllBtn">Disable All</button>
        </div>

        <div id="accountContainer">
        </div>

        <div id="passwordModal" class="modal-overlay" style="display: none;">
            <div class="modal-card">
                <h3>Update Password</h3>
                <p id="modalUserInfo"></p>
                <div class="input-group">
                    <label>New Password</label>
                    <input type="password" id="modalNewPass" placeholder="••••••••">
                </div>
                <div class="modal-actions">
                    <button class="action-btn" onclick="closeModal()">Cancel</button>
                    <button id="confirmPassBtn" class="action-btn btn-change-pw">Update</button>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar">
        <div class="NavName">
            <h1>الرئيسية</h1>
        </div>
        <ul class="NavOps">
            <li><a href="/MainAdmin">الرئيسية</a></li>
            <li><a href="/RequestsAdmin">الطلبات</a></li>
            <li><a href="/AccountsAdmin">الحسابات</a></li>
        </ul>
        <div class="OptionsContainer">
            <button class="OptionsToggle" onclick="toggleOptions()">الاعدادات</button>
            <div id="OptionsList" class="SubMenu">
                <a href="/OptionsAdmin/College">الكلية-القسم</a>
            </div>
        </div>
    </div>





</body>

</html>