<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
    <link rel="stylesheet" href="/static/CollegeOptions.css">
    <script src="/static/CollegeOptions.js" defer></script>
</head>

<body>
    <div class="content">
        CollegesOptions
    </div>
    <div class="sidebar">
        <div class="NavName">
            <h1>الرئيسية</h1>
        </div>
        <ul class="NavOps">
            <li><a href="/MainAdmin">الرئيسية</a></li>
            <li><a href="/RequestsAdmin">الطلبات</a></li>
            <li><a href="/AccountsAdmin">الحسابات</a></li>
        </ul>
        <div class="OptionsContainer">
            <button class="OptionsToggle" onclick="toggleOptions()">الاعدادات</button>
            <div id="OptionsList" class="SubMenu">
                <a href="/OptionsAdmin/College">الكلية-القسم</a>
            </div>
        </div>

</body>

</html>