<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Hello</title>
    <link rel="stylesheet" href="/static/Style.css">
</head>
<body>
       <div class="sidebar">
        <div class="NavName">
            <h2>System 5</h2>
        </div>
        <ul class="NavOps">
            <li><a href="/MainAdmin">Main</a></li>
            <li><a href="/RequestsAdmin">Requests</a></li>
            <li><a href="/OptionsAdmin">Options</a></li>
            <li><a href="/AccountsAdmin">Accounts</a></li>
        </ul>
    </div>
    </div>
    <div class="content"><p>aaaaa</p>
    </div>
    
</body>
</html>
